 
  .bender{
    width: 100%;
    height: 100vh;
    background: var(--main-bg-bender);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bender__head{
    background: var(--bender-head);
    width: 200px;
    height: 350px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border: 3px solid var(--bender-border);
    position: relative;
    box-shadow: inset 6px 0 3px var(--bender-shadow), inset -6px 0 3px var(--bender-shadow);
    z-index: 5;
  }
  
  .bender__eyes-box{
    width: 250px;
    height: 100px;
    background: var(--bender-border);
    position: relative;
    top: 35%;
    left: calc(50% - 125px);
    border: 3px solid var(--bender-border);
    border-radius: 35%;
    box-shadow: inset 10px 0px 10px var(--bender-shadow), inset -10px 0px 10px var(--bender-shadow);
    border-bottom: 2px solid var(--bender-border);
  }
  
  .bender__eyes{
    background: var(--bender-border);
    width: 230px;
    height: 86px;
    overflow: hidden;
    border-radius: 35%;
    position: absolute;
    top: 4px;
    left: 8px;
  }
  .bender__eye{
    width: 90px;
    height: 90px;
    background: var(--secondary-bg-bender);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .bender__eye--left{
    left: 20px;
  }
  .bender__eye--right{
    right: 20px;
  }
  .bender__eye::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: var(--bender-border);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .bender__eye-brow{
    background: var(--bender-border);
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 7;
    top: -10px;
    left: calc( 50% - 10px );
    transform: rotate(45deg) translateX(-50%);
  }
  
  .bender__mouth{
    width: 160px;
    height: 60px;
    border: 3px solid var(--bender-border);
    position: absolute;
    bottom: 30px;
    left: 20px;
    border-radius: 30px 30px 60% 60%;
    background: linear-gradient(var(--bender-border), transparent 3px), linear-gradient(90deg, var(--bender-border), transparent 3px), var(--secondary-bg-bender);
    background-size: 31px 20px;
  }
  .bender__arrow-box{
    position: absolute;
    bottom: calc( 50vh + 316px);
    left: 50%;
    z-index: 1;
  }
  
  .bender__arrow{
    width: 50px;
    height: 40px;
    background: var(--bender-head);
    position: absolute;
    top: 124px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 3;
    border: 3px solid var(--bender-border);
    box-shadow: inset 5px 0px 3px var(--bender-shadow), inset -5px 0px 3px var(--bender-shadow);
  }
    
  .bender__arrow-middle{
    height: 70px;
    width: 10px;
    background: var(--bender-head);
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border: 3px solid var(--bender-border);
    border-bottom: none;
  }
  
  .bender__arrow-middle::before, .bender__arrow-middle::after{
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: var(--main-bg-bender);
    position: absolute;
    top: -10px;
    z-index: 10;
    border-bottom: 2px solid var(--bender-border);
  }
  
  .bender__arrow-middle::before{
    left: 4px;
    transform: rotate(87deg);
  } 
  .bender__arrow-middle::after{
    right: 4px;
    transform: rotate(-88deg);
  }
  .bender__arrow-circle{
    width: 20px;
    height: 20px;
    background: var(--bender-head);
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 3px solid var(--bender-border);
    z-index: 3;
    box-shadow: inset 1px 0px 1px var(--bender-shadow), inset -1px 0px 1px var(--bender-shadow);
  }